{% extends 'my_blogs/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ my_blog.preview | media_filter }}">
            <div class="card-body">
              <p class="card-text">{{ my_blog.title | title }}</p>
              <p class="card-text">Содержимое статьи:  {{ my_blog.content }}</p>
              <p class="card-text">Дата создания: {{ my_blog.created_at }}</p>
              <p class="card-text">Количество просмотров:  {{ my_blog.number_of_views }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a class="btn btn-primary" href="{% url 'my_blog:my_blogs_list' %}" role="button">Вернуться</a>
                   <a class="btn btn-success" href="{% url 'my_blog:my_blog_update' my_blog.pk %}" role="button">Редактировать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}