{% extends 'my_blogs/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for my_blog in my_blogs %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ my_blog.preview | media_filter }}" class="img-fluid" alt="Адаптивные изображения">
            <div class="card-body">
              <h4 class="card-text">{{ my_blog.title | title }}</h4>
              <p class="card-text">Содержимое статьи:  {{ my_blog.content }}</p>
              <p class="card-text">Дата создания: {{ my_blog.created_at }}</p>
              <p class="card-text">Количество просмотров:  {{ my_blog.number_of_views }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn">
                 <a class="btn btn-primary" href="{% url 'my_blog:my_blogs_detail' my_blog.pk %}" role="button">Посмотреть</a>
                 <a class="btn btn-danger" href="{% url 'my_blog:my_blog_delete' my_blog.pk %}" role="button">Удалить</a>
                </div>
                <small class="text-body-secondary">6 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}