{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Категории</h1>
    <p class="lead">Выберите для просмотра продуктов</p>
    <p class="lead">Количество категорий: {{ categories.count }}</p>

</div>

<div class="container">
    <div class="row mt-4">
        {% for category in categories %}

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name_category }}</h5>
                    <p class="card-text">{{ category.descriptions_category }}</p>
                    <a href="{% url 'catalog:category_products_list' category.id %}" class="btn btn-primary">Просмотреть продукты</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}