{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{ product.image | media_filter }}" class="img-fluid" alt="Адаптивные изображения">
                    <h4 class="my-0 font-weight-normal">{{ object.name_product }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.purchase_price }} руб.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> Категория: {{ object.category }}</li>
                        <li> Описание:  {{ object.description_product }}</li>
                        <li> Дата создания: {{ object.created_at | date:"d M Y" }}</li>
                        <li> Дата последнего изменения: {{ object.updated_at | date:"d M Y" }}</li>
                    </ul>
                    {% if user.is_authenticated or perms.catalog.can_unpublish_product %}
                    <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk  %}" role="button">Редактировать</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Главная</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}