{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-12">
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <form method='post'>
                            {% csrf_token %}
                            <p>Хотите удалить этот продукт "{{ product.name_product }}"?</p>
                             <button type="submit" class="btn btn-danger">Подтвердить</button>
                            <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Отменить</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}